body {
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  main {
    margin-top: 58px;
  }


.add-department-form .card-title {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .department-card {
    height: 85vh;
    width: 54vw;
    overflow: auto;
  }
  
  .department-table {
    
    font-weight: bold;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .thead-department {
    font-size: 1.5vw;
  }
  
  .btn{
    margin-right: .5rem;
  }

  .cancel-btn {

    background-color: rgb(237, 34, 34);
  }
  
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  @media (max-width: 991.98px) {
    
    .thead-department {
      font-size: 1rem;
    }
  
    .department-card {
      width: 100vw;
    }
  }