
body {
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  main {
    margin-top: 58px;
  }

.employee-attendance {
    margin-bottom: 2rem;
    text-align: center;
  }