.edit,
.delete {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.edit:hover {
  background-color: #f0f0f0;
  color:darkcyan;
}

.delete:hover {

    background-color: #f0f0f0;

    color: red;
}


.edit i {
  font-size: 18px;
}

.delete i {
  font-size: 24px;
}

.search-form {
    margin-bottom: 2rem;
  }

.table-bordered tr {

  font-weight: bold;
} 





@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }

    .navbar-brand {

      margin-left: 0.5rem;
    }
  
    .thead-department {
      font-size: 2.3vh;
    }
  
    .department-card {
      width: 95vw;
    }
  }


  